@charset "utf-8";
/* CSS Document */


.main{
	margin-bottom:20px;
}

.products-ad{
	line-height:0;
	margin-bottom:20px;
}

.products{
	
}
.products-left{
	width:235px;
	margin-right:20px;
	float:left;
}
.products-left-box{
	border:1px solid #eee;
	background:#fff;
	margin-bottom:20px;
}
.products-left-box-title{
	height:49px;
	line-height:49px;
	padding-left:20px;
	font-size:14px;
	border-bottom:1px solid #eee;
}
.products-left-box-list{
	padding:15px 0 0 0;
}
.products-left-box-list ul{
	width:200px;
	margin:0 auto;
}
.products-left-box-list li{
	width:200px;
	margin-bottom:15px;
}
.products-left-box-list-qa{
	padding:15px 0 15px 0;
}
.products-left-box-list-qa ul{
	width:200px;
	margin:0 auto;
}
.products-left-box-list-qa li{
	width:200px;
}
.products-left-box-list-qa li a{
	height:36px;
	line-height:36px;
}
.products-left-box-list-qa li a em{
	display:inline-block;
	padding-right:5px;
	font-family: verdana;
}
.products-left-box-list-qa li a:hover em{
	text-decoration:none;
}
.p-l-i{
	line-height:0;
}
.p-l-i img{
	width:200px;
	height:130px;
}
.p-l-t{
	text-align:center;
}
.p-l-t span{
	color:#e43a3d;
	display:inline-block;
	margin-left:5px;
}
.products-right{
	width:955px;
	float:right;
}
.products-list-title{
	height:20px;
	line-height:20px;
	padding-left:20px;
	background:#eee;
	margin-bottom:10px;
}
.products-list-title h2{
	width:150px;
	color:#e43a3d;
	line-height:20px;
	font-size:20px;
	border-left:20px transparent dotted;
	border-bottom:20px white solid;
	border-top:0;
	background:#eee;
	position:relative;
}
.products-list-title h2 span{
	position:absolute;
	width:150px;
	text-align:center;
	white-space:nowrap;
	top:0px;
	left:0px;
}
.products-list-title h2 em{
	display:block;
	position:absolute;        
	top:0px;
	right:-20px;
	border-left:20px white solid;
	border-bottom:20px #eee solid;
	width:0;
	height:0;
	overflow:hidden;
	background:#eee;
}
.products-list-screen{
	border:1px solid #eee;
	margin-bottom:10px;
	padding:15px;
}
.products-list-screen dl{
	border-bottom:1px dotted #eee;
	padding:10px 0;
}
.products-list-screen dt{
	float:left;
	height:20px;
	line-height:20px;
}
.products-list-screen dt{
	font-size:14px;
	margin-right:10px;
	padding:2px;
}
.products-list-screen dd{
	overflow:hidden;
	zoom:1;

}
.products-list-screen dd span{
	margin-right:5px;
	padding:2px 5px;
	cursor:pointer;
}
.products-list-screen dd span.active{
	background:#e43a3d;
	color:#fff;
}
.products-list-screen dd span.active a{
	color:#fff;
}
.products-list-screen dd span.active a:hover{
	text-decoration:none;
}
.products-list-result{
	border:1px solid #eee;
}
.products-list-result-title{
	border-bottom:3px solid #f8f8f8;
	height:40px;
	line-height:40px;
}
.t{
	height:40px;
	line-height:40px;
	font-size:14px;
	padding:0 15px;
	border-bottom:1px solid #eee;	
}
.t span{
	float:left;
}
.ti{
	height:40px;
	line-height:40px;
	font-size:14px;
	padding:0 15px;
	border-bottom:1px solid #eee;	
}
.ti span.dib{
	font-size:14px;
}
.ti span.l{
	padding:0 10px;
}
.ti span a.active{
	color:#e43a3d;
	font-weight:bold;
}
.t .handover{
	float:right;
}
.handover{
	width:44px;
	height:19px;
	overflow:hidden;
	zoom:1;
	margin-top:10px;
}
.handover a{
	float:left;
	width:22px;
	height:19px;
	background:url(../images/handover.gif) no-repeat;
}
.handover a#noPicText{
	background-position:0 0;
}
.handover a#PicText{
	background-position:0 -19px;
}
.handover a#noPicText.active, .handover a#noPicText:hover{
	background-position:-22px 0;
}
.handover a#PicText.active, .handover a#PicText:hover{
	background-position:-22px -19px;
}
.products-list-result-list{
	padding:0;
}
.products-list-result-list ul{
	width:948px;
	margin:0 auto;
}
.products-list-result-list li{
	float:left;
	width:300px;
	padding:8px;
}
.products-list-result-list li .p-l-i{
	line-height:0;
}
.products-list-result-list li .p-l-i img{
	width:300px;
	height:225px;
}
.products-list-result-list li .p-l-t{
	text-align:center;
}
.products-list-result-list li .p-l-t span{
	color:#e43a3d;
	display:inline-block;
	margin-left:5px;
}
.products-list-result-list li .p-l-t span a{
	display:inline-block;
	padding:2px 8px;
	background:#e43a3d;
	color:#fff;
	margin-top:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.products-list-result-list li .p-l-t span a:hover{
	background:#c8292b;
	text-decoration:none;
}
/*noPicTextList*/
.noPicTextList{
	overflow:hidden;
	zoom:1
}
.noPicTextList ul{
	width:948px;
	margin:0 auto;
}
.noPicTextList li{
	width:936px;
	height:40px;
	line-height:40px;
	padding:8px;
	border-bottom:1px solid #eee;	
}
.noPicTextList li .p-l-i{
	display:none;
	line-height:0;
}
.noPicTextList li .p-l-i img{
	display:none;
}
.noPicTextList li .p-l-t{
	text-align:left;
}
.noPicTextList li .p-l-t p{
	font-size:12px;
	float:left;
	vertical-align:middle;
	margin-right:15px;
	color:#999;
}
.noPicTextList li .p-l-t p a{
	color:#e43a3d;
	font-size:14px;
	font-weight:bold;
	display:inline-block;
	width:300px;
}
.noPicTextList li .p-l-t p.p-btn{
	float:right;
}
.noPicTextList li .p-l-t span{
	color:#e43a3d;
	display:inline-block;
	margin-left:5px;
	vertical-align:middle
}
.noPicTextList li .p-l-t span a{
	width:auto;
	font-size:12px;
	line-height:16px;
	display:inline-block;
	padding:2px 8px;
	background:#e43a3d;
	color:#fff;
	margin-top:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.noPicTextList li .p-l-t span a:hover{
	background:#c8292b;
	text-decoration:none;
}
/*newNoPicList*/
.newNoPicList{
	width: 100%;
}
.newNoPicList ul{
	width: 940px;
	margin:0 auto;
}
.newNoPicList ul li{
	width: 450px;
	padding: 10px;
}
.newNoPicList ul li .p-l-i img{
	width: 450px;
	height: 338px;
}


.products-info-t{
	height:160px;
	padding-top:52px;
	background:url(../images/p-bg.gif) no-repeat;
}
.products-info-t p{
	width:500px;
	margin-left:250px;
}
.products-info-c{
	padding:20px;
}


.tit-wrap{
	margin-bottom:30px;
}
.tit-wrap h2{
	display:inline-block;
	padding:5px 20px;
	text-align:center;
	font-size:14px;
	color:#fff;
	background:#e43a3d;
	position:relative;
}
span.arrow-up{
	position:absolute;
	left:20px;
	bottom:-5px;
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #e43a3d;
	font-size: 0px;
	line-height: 0px;
}

.c-wrap{
	font-size:14px;
	margin-bottom:30px;
	line-height:24px;
	border-bottom:1px dotted #F3F3F3;
}
.c-wrap p{
	margin-bottom:20px;
}
.c-wrap img{
	max-width:910px;
	*width:910px;
	margin-bottom:20px;
}



/*products-show*/
.products-show{
	margin-bottom:20px;
}
.products-show-left{
	width:770px;
	float:left;
}
.products-show-right{
	width:410px;
	float:right;
}

.big-pic-show{
	width:770px;
	height:580px;
	margin-bottom:20px;
	background:#F9F9F9 url(../images/loading.gif) center center no-repeat;
}
.big-pic-show img{
	width:770px;
	height:580px;
	background:#F9F9F9 url(../images/loading.gif) center center no-repeat;
}

.big-pic-list{
	width:770px;
	height:102px;
}

.left-btn, .right-btn{
	width:35px;
	height:100px;
	float:left;
}
.left-btn a, .right-btn a{
	width:33px;
	height:100px;
	line-height:100px;
	text-align:center;
	display:block;
	background:#f9f9f9;
	border:1px solid #eee;
}

.left-btn a:hover, .right-btn a:hover{
	background:#fff;
	text-decoration:none;
	color:#999
}
.list-wrap{
	float:left;
	width:700px;
	height:102px;
	overflow:hidden;
	position:relative;
}
.list-wrap ul{
	position:absolute;
	left:0;
	top:0;
	height:102px;
	padding-right:165px;
	background:url(../images/over.gif) right center no-repeat;
}
.list-wrap li{
	overflow:hidden;
	width:151px;
	height:98px;
	background:#F9F9F9 url(../images/loading.gif) center center no-repeat;
	border:2px solid #eee;
	float:left;
	margin:0 10px;
	cursor:pointer;
	display:inline;
}
.list-wrap li.active{
	border:2px solid #e43a3d;
}
.list-wrap li img{
	width:151px;
	height:98px;
}

.products-show-info{
	width:410px;
	height:580px;
	margin-bottom:20px;
}

.products-show-info h1{
	font-family:\5b8b\4f53;
	font-size:16px;
	line-height:16px;
	height:24px;
	color:#000;
	border-bottom:3px solid #e43b3d;
}
.model{
	height:20px;
	line-height:14px;
	color:#c6c6c6;
}
.info-wrap{
	height:120px;
	overflow:hidden;
}
.info-p{
	line-height:20px;
}
.fw-wrap{
	height:60px;
	padding:16px 0;
	margin-bottom:16px;
	border-top:1px dotted #c6c6c6;
	border-bottom:1px dotted #c6c6c6;
	background:url(../images/fw.gif) center center no-repeat;
}
.material{
	height:168px;
	border:1px solid #eee;
	background:#f9f9f9;
	padding:10px;
	margin-bottom:16px;
}
.material p{
	margin-bottom:20px;
}
.tip{
	height:14px;
	line-height:14px;
	padding-left:18px;
	background:url(../images/d.gif) left center no-repeat;
}
.price{
	border-top:1px dotted #c6c6c6;
	height:67px;
}
.price h2{
	font-family:\5b8b\4f53;
	font-size:16px;
	line-height:30px;
	color:#000;
}
.price h2 span{
	display:inline-block;
	height:30px;
	color:#e43b3d;
	padding-left:15px;
	background:url(../images/q.gif) left center no-repeat;
	font-family:"Arial Black";
}
.price h2 em{
	font-size:12px;
	font-weight:100;
	color:#ccc;
}
.contact{
	height:29px;
	overflow:hidden;
}
.contact-btn{
	display:inline-block;
	width:101px;
	height:29px;
	background:url(../images/lx.gif) no-repeat;
	vertical-align:middle;
}
.contact span{
	vertical-align:middle;
	line-height:29px;
	margin-left:10px;
}
.mater-pic{
	display:inline-block;
	width:116px;
	height:46px;
	position:relative;
	overflow:hidden;
	border:2px solid #e43b3d;
	vertical-align:middle;
}
.mater-pic img{
	width:116px;
	height:46px;
}
.mater-pic b{
	position:absolute;
	width:15px;
	height:15px;
	bottom:0;
	right:0;
	background:url(../images/g.gif) no-repeat;
}
.select-pic-wrap{
	display:inline-block;
	position: relative;
	width: 290px;
	height:60px;
	vertical-align:middle;
	border-bottom: 1px solid #eee;
	background: #fff url(../images/seletpic-icon.gif) right top no-repeat;
	cursor: pointer;
}
.select-pic-wrap:hover{
	background: #fff url(../images/seletpic-icon-hover.gif) right top no-repeat;
}
.showSelectBox{
	overflow: hidden;
}
.select-pic-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 245px;
	padding: 5px 5px 0 5px;
	background: #fff;
	border: 1px solid #eee;
	-webkit-box-shadow: 0 4px 4px rgba(170,170,170,.75);
	-moz-box-shadow: 0 4px 4px rgba(170,170,170,.75);
	box-shadow: 0 4px 4px rgba(170,170,170,.75);
}
.select-pic{
	display:inline-block;
	width:116px;
	height:46px;
	overflow:hidden;
	border:2px solid #eee;
	vertical-align:middle;
	margin-bottom: 5px; 
}
.select-pic img{
	width:116px;
	height:46px;
}

.ms{
	margin-left:5px;
	color:#999;
}

.lcad{
	line-height:0;
	width:410px;
	height:102px;
	overflow:hidden;
}
.lcad img{
	width:410px;
	height:102px;
}


/*news-list*/
.news-list{
	width:920px;
	margin:0px auto 10px;
	padding-top:30px;
	background:url(../images/news-t-bg.gif) top center no-repeat;
}
.news-list li{
	height:40px;
	padding:0 15px 0px 30px;
	line-height:50px;
	border-bottom:1px dotted #CCC;
	background:url(../images/news-list-icon.gif) 15px 20px no-repeat;
	overflow:hidden;
	zoom:1
}
.news-list li:nth-child(2n){
	background:#fbfbfb url(../images/news-list-icon.gif) 15px 20px no-repeat;
}
.news-list li:hover{
	background:#f4f4f4 url(../images/news-list-icon.gif) 15px 20px no-repeat;
}
.news-list li a{
	float:left;
	width:600px;
	font-size:14px;
}
.news-list li span{
	width:100px;
	float:right;
	font-size:12px;
	color:#999;
	text-align:right;
}

.news-content{
	padding:20px;
}
.news-content h1{
	border-bottom:1px solid #ccc;
	text-align:center;
	font-weight:100;
	padding-bottom:10px;
	margin-bottom:10px;
}
.news-content h2{
	text-align:center;
	color:#999;
	font-size:12px;
	line-height:20px;
	margin-bottom:40px;
	font-weight:100;
	font-family:"宋体"
}
.news-content h2 span{
	margin:0 5px;
}
.news-content p{
	margin-bottom:20px;
	text-indent:2em;
	font-size:14px;
	line-height:28px;
}
.news-content img{
	max-width:850px;
	*width:850px;
}
.qa-wrap{
	padding:0;
}
.qa-title{
	padding:25px 0;
	height:30px;
}
.qa-title p{
	height:30px;
	padding-left:50px;
	background:#eee url(../images/qa.gif) right center no-repeat;
	position:relative;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
}
.qa-title p span.t-h{
	position:absolute;
	top:-5px;
	left:5px;
	width:40px;
	height:40px;
	line-height:40px;
	color:#fff;
	text-align:center;
	background:#e43a3d;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
p.time{
	width:935px;
	margin:0 auto;
	text-align:right;
	color:#CCC;
	border-bottom:1px dotted #F5F5F5;
}

.qa-q{
	width:915px;
	margin:20px auto;
}
.qa-q img{
	max-width:915px;
	*width:915px;
	margin-bottom:10px;
}
.qa-q p{
	font-size:12px;
	line-height:20px;
	margin-bottom:5px;
	text-indent:2em;
}
p.qa-q-t{
	text-indent:0em;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	border:1px solid #eacfd4;
	background:#edd6d6;
	color:#a73f48;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;

}
.qa-a{
	width:915px;
	margin:20px auto;
}

.qa-a p{
	font-size:12px;
	line-height:20px;
	margin-bottom:10px;
	text-indent:2em;
}
.qa-a img{
	max-width:915px;
	*width:915px;
	margin-bottom:10px;
}
p.qa-a-t{
	text-indent:0em;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	border:1px solid #cee5b6;
	background:#d9eecc;
	color:#55772f;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

/*video-list*/
.video-list{
	width:920px;
	margin:0px auto 10px;
	/*padding-top:30px;*/
}
.video-list li{
	height:220px;
	padding:20px 15px 0px 10px;
	margin: 10px 0px 10px 0px;
	border:1px solid #CCC;
	overflow:hidden;
	zoom:1;
}
.video-list li:nth-child(2n){
	background:#fbfbfb 15px 20px no-repeat;
}
.video-list li:hover{
	background:#f4f4f4 15px 20px no-repeat;
}
.video-list .video-thumb{
	position: relative;
	display: block;
	width: 300px;
	height: 200px;
	text-align: center;
	float: left;
}
.video-list .video-summary{
	width: 580px;
	height: 200px;
	float: left;
	text-indent: 24px;
}
.video-list .video-summary a{
	display: inline-block;
	padding: 5px 10px;
	background: #e4393c;
	color: #fff;
	text-decoration: none;
}
.video-list .video-view-more{
	float: right;
}


/*qa_list*/
.qa_list{
}

.qa_list_left{
	width:50%;
	float:left;
}
.qa_list_right{
	width:50%;
	float:right;
}
.qa_list_title{
	height:100px;
}
.qa_list_right .qa_list_title{
	border-left:1px solid #fff;
	background:#e43a3d url(../images/qa_title_a.gif) left center no-repeat;
}
.qa_list_left .qa_list_title{
	background:#e43a3d url(../images/qa_title_b.gif) left center no-repeat;
}
.qa_list_box{
	border:1px solid #ccc;
	border-top:none;
	padding:50px 30px;
	height:650px;
}
.qa_list_right .qa_list_box{
	border-left:1px solid #ccc;
	position:relative;
	height:500px;
	padding:50px 30px;
	padding-bottom:200px;
}
.qa_list_left .qa_list_box{
	border-right:none;
}

.qa_list_wrap{
}

.qa_list_wrap ul{
}
.qa_list_wrap ul li{
	height:40px;
	border-bottom:1px solid #F3F3F3;
	background:url(../images/qa_icon.gif) left center no-repeat;
	line-height:40px;
	padding-left:10px;
	padding-right:10px;
	font-size:14px;
}
.qa_list_wrap ul li a{
	height:40px;
	width:100%;
	overflow:hidden;
	display:block;
	zoom:1
}
.qa_list_wrap ul li a span{
	float:right;
	padding:2px 5px;
	color:#fff;
	background:#ccc;
	font-size:12px;
	height:12px;
	line-height:12px;
	margin-top:15px;
	text-align:center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.qa_list_wrap ul li a:hover span{
	background:#e43a3d;
}

.qa_form_title{}
.qa_form_title li{
	width:60px;
	height:60px;
	line-height:60px;
	float:left;
	background:#ccc;
	margin-right:5px;
}
.qa_form_title li a{
	width:60px;
	height:60px;
	display:inline-block;
}
.qa_form_title li.qa_t{
	width:220px;
	padding-left:50px;
	background:#e43a3d url(../images/q_t.gif) 20px 20px no-repeat;
	position:relative;
}
.qa_form_title li.qa_t span{
	position:absolute;
	width:21px;
	height:10px;
	line-height:10px;
	top:100%;
	left:20px;
	background:url(../images/s_t.gif) no-repeat;
}
.qa_form_title li a{
	display:block;
	width:60px;
	height:60px;
}
.qa_form_title li.q_a{
	position:relative;
	overflow:hidden;
}
.qa_form_title li.q_a a{
	position:absolute;
	top:0;
	left:0;
	height:120px;
	width:60px;
}
.qa_form_title li a.q_kf{
	background:url(../images/q_icon_a.gif) no-repeat;
	background-position:-120px 0;
}
.qa_form_title li a.q_map{
	background:url(../images/q_icon_a.gif) no-repeat;
	background-position:-180px 0;
}
.qa_form_title li a.q_tel{
	background:url(../images/q_icon_a.gif) no-repeat;
	background-position:0 0;
}
.qa_form_title li a.q_em{
	background:url(../images/q_icon_a.gif) no-repeat;
	background-position:-60px 0;
}
.qa_form_title li.qa_t a{
	width:100%;
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
.qa_form_title li.qa_t a:hover{
	text-decoration:none
}
.qa_form{
	padding-top:50px;
}
.qa_form .form-line{
	padding-left:0px;
}
.qa_form .m-195{
	padding-left:135px;
}

.qa_merit{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:200px;
	background:#fbfbfb;
	border-top:1px solid #ccc;
}
.qa_merit h4{
	margin-top:40px;
	margin-left:80px;
	font-size:14px;
}
.qa_merit p{
	margin-left:80px;
	line-height:24px;
}
.qa_merit p strong{
	color:#e43a3d;
	font-weight:100;
}
.qa_merit p span{
	color:#e43a3d;
	display:inline-block;
	margin-left:60px;
	vertical-align:middle
}
.qa_merit p span a{
	width:auto;
	font-size:12px;
	line-height:16px;
	display:inline-block;
	padding:2px 8px;
	background:#e43a3d;
	color:#fff;
	margin-top:5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
.qa_list_box .unhappyMessage{
	left:380px
}

